@media screen {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: lightgray;
        width: 100vw;
        height: 100vh;
    }

    header {
        background-color: gray;
        color: white;

        padding: 15px;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    header > h1 {
        text-shadow: black;
    }

    nav > a {
        background-color: black;
        color: white;
        text-decoration: none;

        border-radius: 5px;
        padding: 10px;
        display: inline-block;
    }

    main {
        background: white;

        padding: 15px;
        margin: 10px;
        border-radius: 15px;

        display: flex;
        flex-flow: column nowrap;
    }
}


@media screen and (max-width: 768px) {
    header {
        align-items: flex-start;
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 540px) {
    header {
        align-items: center;
        flex-flow: column nowrap;
    }

    nav {
        display: flex;
        flex-flow: column nowrap;
        align-content: space-around;
    }

    nav > a {
        width: 90vw;
        margin-bottom: 5px;
    }
}